body{
  background-color: #eaeaea;
  margin: 0px;
  line-height: 1.4;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 400;
	color: #333;
}

section{
	margin: 40px auto;
}


a{
  text-decoration: none;
  color: teal;
}


/***********************************
************************************
Buttons start
************************************
***********************************/
.btn-normal{
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: #333;
  text-align: center;
  text-decoration: none;
	width: auto;
}
.btn-orange{
  border: 1px solid #ff7800;
  border-radius: 5px;
  background-color: orange;
  color: white;
  text-align: center;
  text-decoration: none;
	width: auto;
}
.btn-darkblue{

}
.btn-lightblue{

}
.btn-small{
	padding: 5px 10px!important;
}
.btn-large{
	padding: 8px 12px!important;
}

/***********************************
************************************
Button End
************************************
***********************************/

.container{
	width:80%;
  margin:auto;
  overflow:hidden;
}
.input{
  display: block;
  width: 100%;
  height: 20px;
  padding: 7px 13px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #abaaaa;
}
.panel{
  border: 1px solid whitesmoke;
  background-color: white;
	height: 100%;
	margin:20px;
	padding: 20px;
	border-radius: 4px;
}
.form{
  margin:0 20px 0 0;
}

.form h4{
  margin:5px auto;
}



/***********************************
************************************
Navbar Start
************************************
***********************************/
.navbar-default {
    background-color: transparent;
	  border: 0px;
    padding: 5px 0;
    transition: all 0.3s;
}
.navbar-brand {
	  color: white;
    font-size: 36px;
    font-family: "Times New Roman", Times, serif;
}
.navbar-brand-responsive{
  display: none;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: orange;
    outline: none;
}
.nav-container{
  display:grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 0em;
  margin: auto 20px;
}
ul.nav-right {
  right:0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul.nav-right li {
  float: right;
  margin: auto 5px;
}
ul.nav-right > li > a{
	display: block;
	font-weight: 400;
	color: #fff;
  outline: none;
  padding: 0px 5px;
}
ul.nav-right > li > a:focus, .navbar-default .nav-right > li > a:hover {
  color: orange;
  background-color: transparent;
}
.navbar-default .nav-right > .active > a, .navbar-default .nav-right > .active > a:focus, .navbar-default .nav-right > .active > a:hover {
  color: #fffde0;
  background-color: transparent;
}
.nav-top{
  top: 0;
}

/***********************************
************************************
Navbar End
************************************
***********************************/



/***********************************
************************************
Header Start
************************************
***********************************/
.header{
  position: relative;
  min-height: 570px;
  width: 100%;
  background: url(../img/header.jpg) no-repeat fixed;
  background-size: cover;
}
.bg-color{
  background-color: RGBA(0, 0, 0, 0.67);
  min-height: 570px;
  width: 100%;
}
.header-caption{
  margin: auto 20px;
}
.border-left-orange{
  border-left: 4px solid orange;
  padding: 20px;
}
.header-caption-head{
  font-size: 30px;
  padding: 0px 20px;
  padding-top: 0px;
  margin-top: 20px;
  color: #eaeaea;
}
.header-caption-description{
  font-size: 20px;
  padding: 0px 20px;
  color: #eaeaea;
  margin: 20px auto;
}
/***********************************
************************************
Header End
************************************
***********************************/

/***********************************
************************************
Footer Start
************************************
***********************************/
.footer{
	display: block;
  margin: auto auto auto 20px;
	padding: 20px;
}

/***********************************
************************************
Footer End
************************************
***********************************/
