/***********************************
************************************
Header Start
************************************
***********************************/
.header{
  position: relative;
  min-height: 570px;
  width: 100%;
  background: url(../img/header.jpg) no-repeat fixed;
  background-size: cover;
}
.bg-color{
  background-color: RGBA(0, 0, 0, 0.67);
  min-height: 570px;
  width: 100%;
}
/***********************************
************************************
Header End
************************************
***********************************/
